<div class= 'container'>
  JOB STORIES

  <ul>
  <% @job_stories_array.each do |story_hash| %>
    <li>
      <span class = 'title'>
        <%= link_to(story_hash[:title], story_hash[:url]) %>
      </span><br>
      <span class = 'extraInfo'>
        <%= story_hash[:score]%> points by <%= story_hash[:author]%> | <%= story_hash[:time]%>
      </span>
    </li>
  <% end %>
</ul>
</div>
