<% @top_stories_array.each do |story| %>
  <li>
    <span class = 'title'>
      <%= link_to(story[:title], story[:url]) %>
    </span><br>
    <span class = 'extraInfo'>
      <%= story[:score]%> points by <%= story[:author]%> | <%= link_to("#{story[:comments_num]} comments", "https://news.ycombinator.com/item?id=#{story[:id]}")%>
    </span>
  </li>
<% end %>
